/* style.css */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  width: flex; 
  height: 96px;
  background-color: #F18435;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
  position: relative;
  z-index: 10;
}

.logo {
  width: 110px;
  height: 100px;
  object-fit: contain;
}

.menu-container {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 40px;
}


.menu-item {
  color: rgba(0, 0, 0, 0.41);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-text {
  font-weight: 600;
  color: #874c10;
  font-family: 'Poppins', sans-serif;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #d36c1e;
  object-fit: cover;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-icon img {
  width: 38px;
  height: 38px;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
}


main {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.agenda,
.calendar {
  background-color: #e6ecff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.timeline h3,
.calendar h3 {
  margin-top: 0;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f7ff;
  padding: 12px;
  border-radius: 8px;
  margin-top: 12px;
}

.chat-button {
  background-color: #5e90ff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 2px;
  text-align:  top;
  font-weight: 550;
}

.calendar-grid div {
  padding: 18px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
}

.green {
  background-color: #068b02; /*cor dos dias livres no calendarios*/
}

.red {
  background-color: #fb4b38;/*cor dos dias de folga no calendarios*/
}

.orange {
  background-color: #f78e3d;/*cor dos dias oculpados no calendarios*/
}


@media (max-width: 768px) {
  .top-bar {
    padding: 0 10px; 
  }

  .logo {
    width: 90px;
    height: 80px;
  }

  .menu-container {
    gap: 20px;
  }

  .entrar-btn, .cadastrar-btn {
    width: 80px;
    height: 40px;
  }
}
